//imports
@import "./utils/variables";

@media (max-width: $mobile) {
  body {
   
    background-color: $neutral-paleCyan;
    padding: 16px;   
    background-image: url("./images/bg-hero-mobile.svg");
    background-position: left -1cm;
    background-repeat: no-repeat;
    //font-family: ;
    //font-family: ;
  }

  header {
    display: flex;
    justify-content: space-between;
    button {
      @include button();
    }
    img {
      width: 90px;
      height: 20px;
    }
  }

  main {

    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
   
    article {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      header {
        display: flex;
        width: 100%;
        font-family:"Poppins", sans-serif;
        color:$neutral-darkCyan;
        font-weight:600;
        font-size:22px;
      }
      p{
        @include bodyFont();
      }
      button {
        margin-top: 20px;
        margin-bottom: 20px;
        @include button($color:$white, $background-color: $primary-pink,$padding:10px 60px,$colorShadow:hsla(322, 100%, 66%, 0.534));
      }
    } 
    figure {
      img {
        width: 300px;
        height: 200px;
      }
    }
  }
  #features {

    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
background-color:$primary-white;
    article {
      display: flex;
      width: 80%;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
      figure {
        img {
          width: 300px;
          height: 250px;
        }
      }
      header {
        justify-content: center;
        display: flex;
        width: 100%;
      }
      
    }
  }
  #sticky {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    button {
      @include button($color:$white, $background-color: $primary-pink,$padding:10px 60px,$colorShadow:hsla(322, 100%, 66%, 0.534));
    }
  }
  footer {
    
    display: flex;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    img {
      width: 150px;
      height: 40px;
    }
    #contact {
      div {
        display: flex;
        justify-content: start;
        align-items: center;
        p {
          margin-left: 15px;
        }
        img {
          width: 25px;
          height: 15px;
        }
      }
      text-align: left;
    }
    #about {
      margin-top: 15px;
      margin-bottom: 1px;
      p {
        display: flex;
        flex-wrap: wrap;
      }
    }
    #social {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
      }
    }
  }
}


