@media (max-width: 375px) {
  body {
    background-color: #ebfbff;
    padding: 16px;
    background-image: url("./images/bg-hero-mobile.svg");
    background-position: left -1cm;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  header button {
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #00252e;
    background-color: #FFFFFF;
  }
  header img {
    width: 90px;
    height: 20px;
  }

  main {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main article {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  main article header {
    display: flex;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #00252e;
    font-weight: 600;
    font-size: 22px;
  }
  main article p {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #00252e;
  }
  main article button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    padding: 10px 60px;
    box-shadow: 2px 2px 15px rgba(255, 82, 191, 0.534);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ff52bf;
  }
  main figure img {
    width: 300px;
    height: 200px;
  }

  #features {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #fcfcfc;
  }
  #features article {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  #features article figure img {
    width: 300px;
    height: 250px;
  }
  #features article header {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  #sticky {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  #sticky button {
    border-radius: 25px;
    border: none;
    padding: 10px 60px;
    box-shadow: 2px 2px 15px rgba(255, 82, 191, 0.534);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ff52bf;
  }

  footer {
    display: flex;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  footer img {
    width: 150px;
    height: 40px;
  }
  footer #contact {
    text-align: left;
  }
  footer #contact div {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  footer #contact div p {
    margin-left: 15px;
  }
  footer #contact div img {
    width: 25px;
    height: 15px;
  }
  footer #about {
    margin-top: 15px;
    margin-bottom: 1px;
  }
  footer #about p {
    display: flex;
    flex-wrap: wrap;
  }
  footer #social {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  footer #social img {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
